{% extends "base.html" %}
{% block javascript %}
<script>
    var rooms = jQuery.parseJSON('{{ rooms|safe  }}');
    var subjects = jQuery.parseJSON('{{ subjects|safe  }}');
    var lesson_types = jQuery.parseJSON('{{ lesson_types|safe  }}');
    var rooms = jQuery.parseJSON('{{ rooms|safe  }}');
    var start_date_prev = '{{ start_dates.0|date:"d-m-Y" }}';
    var start_date_current = '{{ start_dates.1|date:"d-m-Y" }}';
    var start_date_next = '{{ start_dates.2|date:"d-m-Y" }}';
    var schedule_mode = {{ request.session.mode }};
</script>
<script src="/static/js/admin-schedule.js"></script>
{% endblock %}

{% block content %}

<div class="btn-group">
  <button ng-click="enableSetSchedule()" ng:class="(schedule_mode === 0)? 'btn active' : 'btn'">Текущее</button>
  <button ng-click="enableRegularSchedule()" ng:class="(schedule_mode == 1)? 'btn active' : 'btn'">Постоянное</button>
</div>
<div class="btn-group">
  <a href="/{{ start_dates.0|date:"d-m-Y" }}" class="btn" >На неделю назад</a>
  <a href="/" class="btn" >На текущую неделю</a>
  <a href="/{{ start_dates.2|date:"d-m-Y" }}" class="btn">На неделю вперед</a>
</div>
<br><br>

<select ui-select2="{placeholder: ' '}" ng-model="filters['teacher']" ng-change="update_location()" data-placeholder="Учитель">
    <option value=""></option>
    <option ng-repeat="teacher in teachers" value="[[ teacher.id ]]">[[ teacher.name ]]</option>
</select>

<button data-ng-show="filters.teacher" ng-click="reset_filter('teacher')" class="btn">x</button>

<select ui-select2="{placeholder: ' '}" ng-model="filters['student']" ng-change="update_location()" data-placeholder="Ученик">
    <option value=""></option>
    <option ng-repeat="student in students" value="[[ student.id ]]">[[ student.name ]]</option>
</select>

<button data-ng-show="filters.student" ng-click="reset_filter('student')" class="btn">x</button>

<select ui-select2="{placeholder: ' '}" ng-model="filters['subject']" ng-change="update_location()" data-placeholder="Предмет">
    <option value=""></option>
    <option ng-repeat="subject in subjects" value="[[ subject.id ]]">[[ subject.name ]]</option>
</select>

<button data-ng-show="filters.subject" ng-click="reset_filter('subject')" class="btn">x</button>

<select ui-select2="{placeholder: ' '}" ng-model="filters['lesson_type']" ng-change="update_location()" data-placeholder="Тип урока">
    <option value=""></option>
    <option ng-repeat="lesson_type in lesson_types" value="[[ lesson_type.id ]]">[[ lesson_type.name ]]</option>
</select>

<button data-ng-show="filters.lesson_type" ng-click="reset_filter('lesson_type')" class="btn">x</button>

<button data-ng-show="(filters.teacher || filters.student || filters.subject || filters.lesson_type)" ng-click="reset_filter('all')" class="btn">Сбросить все</button>

<br><br>

<table class="table table-bordered schedule-table">
    <tr>
        <td>Кабинет</td>
        {% for date in dates %}
            <td>
                {{ date }}<br>
                {{ date|date:"l" }}
            </td>
        {% endfor %}
    </tr>

    {% for office in offices %}
        <tr>
            <td colspan="100%">{{ office.name }}</td>
        </tr>
        {% for room in office.rooms %}
            <tr>
                <td>{{ room.name }}</td>
                {% for date in dates %}
                    <td class="room-box">
                        <table class="room-table table table-bordered">
                            {% for hour_range in hours %}
                                <tr>
                                    {% for hour in hour_range %}
                                        <td class="room-hour" id="room-hour_{{ room.pk }}_{{ date|date:"dmY" }}_{{ hour }}" ng-click="openDialog($event)">{{ hour }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>

{% endblock %}