{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block javascript %}
  <script>
    var message = '{{ message }}';
    var time = jQuery.parseJSON('{{ time|safe  }}');
    var student_id = {{ student_id }};
  </script>
  <script src="/static/js/time_selection.js"></script>
  <script src="/static/js/register-student.js"></script>
  <script src="/static/libs/jquery/jquery.validate/jquery.validate.min.js"></script>
  <script src="/static/libs/jquery/jquery.validate/messages_ru.js"></script>
{% endblock %}

{% block content %}
<br><br>
<div ng-controller="TimeSelectionController">
{% if form %}
  <form enctype="multipart/form-data" action="" method="POST" id="receipt" class="form-horizontal">
    {% csrf_token %}
      {{ form|as_bootstrap }}
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" ng-click="submitForm()">Send</button>
      </div>
    </div>
  </form>
  {% include 'time-selection-table.html' %}
{% endif %}
{% if user_message %} <h2 class="text-center">{{ user_message }}</h2> {% endif %}
</div>
{% endblock %}
