{% extends "base.html" %}
{% block javascript %}
<script>
    var schedule_set = jQuery.parseJSON('{{ schedule_set|safe  }}');
    var schedule_regular = jQuery.parseJSON('{{ schedule_regular|safe  }}');
    var rooms = jQuery.parseJSON('{{ rooms|safe  }}');
</script>
<script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
<table class="table table-bordered schedule-table">
    <tr>
        <td>Кабинет</td>
        {% for date in dates %}
            <td>
                {{ date }}<br>
                {{ date|date:"l" }}
            </td>
        {% endfor %}
    </tr>

    {% for office in offices %}
        <tr>
            <td colspan="100%">{{ office.name }}</td>
        </tr>
        {% for room in office.rooms %}
            <tr>
                <td>{{ room.name }}</td>
                {% for date in dates %}
                    <td class="room-box">
                        <table class="room-table table table-bordered">
                            {% for hour_range in hours %}
                                <tr>
                                    {% for hour in hour_range %}
                                        <td class="room-hour" id="room-hour_{{ room.pk }}_{{ date|date:"dmY" }}_{{ hour }}" ng-click="openDialog($event)">{{ hour }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<div class="btn-group">
  <button ng-click="enableSetSchedule()" ng:class="(schedule_mode === 0)? 'btn active' : 'btn'"
 class="btn">Текущее</button>
  <button ng-click="enableRegularSchedule()" ng:class="(schedule_mode == 1)? 'btn active' : 'btn'"
 class="btn">Постоянное</button>
</div>


{% endblock %}