<div class="modal-header">
  <h3>[[ date ]]</h3>
</div>
<div ng-switch="mode">
  <div class="modal-body">
    <div ng-switch-when="edit">
      <form name="form" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="room_field">Кабинет</label>
          <div class="controls">
            <select ui-select2 ng-model="fields.room" id="room_field" required>
                <option value=""></option>
                <option ng-repeat="room in room_list" value="[[ room.id ]]">[[ room.name ]]</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="subject_field">Предмет</label>
          <div class="controls">
            <select ui-select2 ng-model="fields.subject" id="subject_field" ng-change="load_teachers_and_students()" required>
                <option value=""></option>
                <option ng-repeat="subject in subjects" value="[[ subject.id ]]">[[ subject.name ]]</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="lesson_type_field">Тип урока</label>
          <div class="controls">
            <select ui-select2 ng-model="fields.lesson_type" id="lesson_type_field" required>
                <option value=""></option>
                <option ng-repeat="lesson_type in lesson_types" value="[[ lesson_type.id ]]">[[ lesson_type.name ]]</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="teacher_field">Учитель</label>
          <div class="controls">
            <select ui-select2 ng-model="fields.teacher" id="teacher_field" required>
                <option value=""></option>
                <option ng-repeat="teacher in teachers" value="[[ teacher.id ]]">[[ teacher.name ]]</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="students_field">Ученики</label>
          <div class="controls">
            <select required ui-select2 multiple ng-model="fields.students" id="students_field" required>
                <option ng-repeat="student in schedule_students" value="[[ student.id ]]">[[ student.name ]]</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
    <div ng-switch="free" ng-switch-when="view">
        <div ng-switch-when="false">
            Кабинет - [[ room.name ]]<br>
            Предмет - [[ subject.name ]]<br>
            Тип урока - [[ lesson_type.name ]]<br>
            Учитель - [[ teacher.name ]]<br>
            Ученики:
            <ul>
                <li ng-repeat="student in students">[[ student.name ]]</li>
            </ul>
        </div>
        <div ng-switch-when="true">
            Время свободно.
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="edit()" class="btn btn-primary" ng-switch-when="view">Редактировать</button>
    <button ng-click="delete()" ng-hide="free" class="btn btn-primary">Удалить</button>
    <button ng-click="close()" class="btn btn-primary">Закрыть</button>
  </div>
</div>