<table class="table table-bordered schedule-table hour-table free-time-table">
    <tr>
        <td>Time</td>
        {% for day in days %}
            <td>
                {{ day.1 }}
            </td>
        {% endfor %}
    </tr>
        {% for hour in hours %}
            <tr>
                <td>{{ hour }}</td>
                {% for day in days %}
                    <td class="hour" id="{{ day.0 }}_{{ hour }}" ng-mouseup="mouse_up()" ng-mousedown="mouse_down($event)" ng-mouseover="select_hour($event)">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
</table>