#login-form {
    margin-top: 20px;
}

#content {
    margin: 0 20px;
}

#loading {
    margin: 20px 20px 0 0;
}

.schedule-table td.room-box {
    padding: 0;
}

/*.schedule-regular {
    background-color: lightgrey;
}*/

.schedule-busy {
    background-color: lightgreen;
}

.schedule-table td {
    text-align: center;
    vertical-align: middle;
}

.room-table td {
    padding: 0;
    cursor: pointer;
}

.hour-table td {
    cursor: pointer;
}

.room-table td:hover , .hour-table td:hover{
    background-color: lightblue;
}

.room-table {
    margin: 0;
}

.room-table, .room-table td {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}

.select2-container {
    width: 200px;
}

.free-hour {
    background-color: #F3E2A9;
}

.schedule-table{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.free-time-table {
    width: 1px;
}

.schedule-replacement {
    background-color: #F5A9A9;
}